{%extends 'main.html'%}

{%block content%}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex justify-content-start   align-items-center  ">

    <div class="d-flex  ms-1 justidy-content-start align-items-start   row">
        <div class="col-12 ">
            <div class="d-flex justify-content-start align-items-start " style="flex-direction: column;">
                
                        <div class="userdetails">
                            <p>name :sathya</p>
                            <p >Email :sathya@gmail.com</p>
                        </div>

                        <div>
                            <p class="fw-bold">Booked Tikcets</p>
                            <div class="table-responsive">
                                <table class="table mt-4 table-bordered">
                                    <tr>
                                     
                                        <th scope="col">Bus Name</th>
                                        <th scope="col">from</th>
                                        <th scope="col">to</th>
                                        <th scope="col">date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Tikets</th>
                                        <th scope="col">price</th>
                                    </tr>
            
                                    
                                    <tr>
                                        
                                        <td scope="row">k11 </td>
                                        <td >Sivagiri </td>
                                        <td>Erode </td>
                                        <td>11-1-204</td>
                                        <td>11pm</td>
                                        <td>4</td>
                                        <td>40</td>

                                    </tr>
                                    <tr>
                                        
                                        <td scope="row">k11 </td>
                                        <td >Sivagiri </td>
                                        <td>Erode </td>
                                        <td>11-1-204</td>
                                        <td>11pm</td>
                                        <td>4</td>
                                        <td>40</td>

                                    </tr>
            
            
            
                                </table>
            
                            </div>
                        </div>

            </div>


        </div>


    </div>

</div>
</div>

{%endblock%}